{% include "header.html" %}
{% block content %}
<body>
    <main class="px-md-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3">
            <h1 class="h2">Meine Noten</h1>
        </div>
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">ECTS</th>
                    <th scope="col">Dozent</th>
                    <th scope="col">Semester</th>
                    <th scope="col">Note</th>
                    <th scope="col">Vertiefungsrichtung</th>
                    <th scope="col">Bewertung</th>
                </tr>
            </thead>
            <tbody>
                <!-- for-Condition -->
                {% for key, value_dict in neuedaten.items()%}
                    <tr>
                        {% for key, value in value_dict.items()%}
                        <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                <!--</div>-->
                {% endfor %}
            </tbody>
        </table>
    </main>


{% endblock %}

</body>
<br>

{% include "footer.html" %}
